<!DOCTYPE html>
<html>
  <head>
    <title>Ren Fitness & Nutrition</title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick.css"/>

    // Add the slick-theme.css if you want default styling
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick-theme.css"/>
  
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick.min.js"></script>
    
    <script type="text/javascript">
      $(document).ready(function(){
        $('.slides').slick({
          dots: true
        });
      
      });
      
    </script>
  
  </head>
  <body>
    <%= render 'layouts/header' %>

      <% if yield(:title) == "home" %>
        <div class="page-header">
          <img src="http://res.cloudinary.com/eliranf/image/upload/v1443551228/ren_done_mbu2mf.jpg" style="width: 100%; height: 240px; opacity:0.8; filter:alpha(opacity=80);">
        </div>
        <div class="page-header-text title-home">
          <h1>
            רין פרידמן - מדריכת כושר ותזונאית מוסמכת
          </h1>
        </div>
      <% else %><% if yield(:title) == "videos" %>
        <div class="page-header">
          <img src="http://res.cloudinary.com/eliranf/image/upload/v1443516622/396837102adec3cf_Running-KimKrueger.xxxlarge_2x_1_thcgrt.jpg" style="width: 100%; height: 240px; opacity:0.8; filter:alpha(opacity=80);">
        </div>
        <div class="page-header-text title-videos">
          <h1>
            תכניות אימונים
          </h1>
        </div>
      <% else %><% if yield(:title) == "photos" %>
        <div class="page-header">
          <img src="http://res.cloudinary.com/eliranf/image/upload/v1443552440/IMG_1381_done_p9dcvk.jpg" style="width: 100%; height: 240px; opacity:0.8; filter:alpha(opacity=80);">
        </div>
        <div class="page-header-text title-photos">
          <h1>
            גלרית תמונות
          </h1>
        </div>
      <% else %><% if yield(:title) == "about" %>
        <div class="page-header">
          <img src="http://res.cloudinary.com/eliranf/image/upload/v1443549634/Fresh-Healty-Salad-HD-Wallpaper-1170x780_egzwfl.jpg" style="width: 100%; height: 240px; opacity:0.8; filter:alpha(opacity=80);">
        </div>
        <div class="page-header-text title-about">
          <h1>
            אודות רין
          </h1>
        </div>
      <% else %><% if yield(:title) == "business" %>
        <div class="page-header">
          <img src="http://res.cloudinary.com/eliranf/image/upload/v1443550173/laptop_glass_water_documents_business_76576_2048x1152_c2xvds.jpg" style="width: 100%; height: 240px; opacity:0.8; filter:alpha(opacity=80);">
        </div>
        <div class="page-header-text title-business">
          <h1>
            לקוחות עסקיים
          </h1>
        </div>
      <% else %><% if yield(:title) == "contact" %>
        <div class="page-header">
          <img src="http://res.cloudinary.com/eliranf/image/upload/v1443548794/V3Kp94B_kwuwtb.jpg" style="width: 100%; height: 240px; opacity:0.8; filter:alpha(opacity=80);">
        </div>
        <div class="page-header-text title-contact">
          <h1>
            אמצעי תקשורת
          </h1>
        </div>
      <% end %><% end %><% end %><% end %><% end %><% end %>
    </div>
  
    <div class="container container-body">
      <%= yield %>

      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>